@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #F9F3DF;
    position: relative;
    max-width: 1600px;
}

.header {
    font-size: 125%;
    background-color: #476258;
}

.headerMenu{
    display: flex;
    align-items: flex-start;
    margin-left: auto;
}
.checkLink{
    text-decoration: none;
}

.headerText{
    font-family: 'Jacques Francois';
}

.headerMenu :first-child{
    margin-right: auto;
}

.headerMenu :hover{
    background-color: white;
    color: #476258;
    border-radius: 10px;
}

.headerLink {
    padding: 2rem 2rem;
    text-decoration: none;
    cursor: pointer;
    color: white;
    display: block;
}

.dropDownMenu {
    margin-left: 10px;
    display: none;
}

.HamburgerIcon {
    margin-top: 1px;
    width: 25px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropDownTable {
    background-color: #476258;
    z-index: 1;
    display: none;
    position: absolute;
    min-width: 120px;
}

.dropDownTable a {
    color: white;
    padding: 10px 12px;
    font-size: 14px;
    text-decoration: none;
    display: block;
    font-family: 'Jacques Francois';
}

.dropDownButton {
    padding: 8px;
    background-color: #476258;
    cursor: pointer;
    border: none;
}

.dropDownTable a:hover {
    background-color: white;
    color: #476258;
    border-radius: 5px;
}

.dropDownMenu:hover .dropDownTable {
    display: block;
}

.dropDownMenu:hover .dropDownTable {
    background-color: #476258;
}

.footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #9D897B;
}

.footerMenu{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.footerLogo{
   margin: 5px 30px;
   display: inline-block;
}

.before{
    height: 50px; 
    width: 50px;
}

.after{
    height: 50px; 
    width: 50px;
}

.footerLogo .after {
    display: none;
}

.footerLogo :hover .after{
    display: inline;
}

.footerLogo :hover .before{
    display: none;
}

.copyRight{
    bottom: 0;
    position: absolute;
    text-align: center;
    color: white;
}

.banner{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 250px;
}

.content{
    /* position: relative; */
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 80px;
}

.picture{
    max-width: 150px;
    border: black solid 3px;
    border-radius: 20px;
}

.checkproduct{
    position: absolute;
    border: black solid 2px;
    background-color: white;
    bottom: 95px;
    font-family: 'Jacques Francois';
}

@media screen and (max-width: 800px){
    .headerMenu{
        flex-direction: column;
        display: none;
    }
    .dropDownMenu {
        display: inline-block;
        margin-top: 5px;
    }
    .content{
        /* position: relative; */
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 80px;
    }
    .banner{
        width: 800px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        height: 250px;
    }
}